<div class="text-center">
    <h1>Code Challenge</h1>
    <p>An interview take-home code challenge, built with:</p>
</div>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is boot-strapped with the standard Angular CLI. However, to display my client side programming skills, I have setup the app structure and coded using a feature based approch</p>
